In [1]:
from sklearn.impute import SimpleImputer
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("datasets/melb_data.csv")

In [5]:
si = SimpleImputer(strategy='mean')
# si.fit(df[['Car', "BuildingArea"]])
# df[['Car', "BuildingArea"]] = si.transform(df[['Car', "BuildingArea"]])
df[['Car', "BuildingArea"]] = np.round(si.fit_transform(df[['Car', "BuildingArea"]]))

In [6]:
si.set_params(strategy='most_frequent')
# si.fit(df[['YearBuilt', "CouncilArea"]])
# df[['YearBuilt', "CouncilArea"]] = si.transform(df[['YearBuilt', "CouncilArea"]])
df[['YearBuilt', "CouncilArea"]] = si.fit_transform(df[['YearBuilt', "CouncilArea"]])

In [ ]:
import pandas as pd

In [9]:
df = pd.read_csv("datasets/test.csv")
df

    Adı Soyadı  Kilo  Boy  Yaş Cinsiyet Renk Tercihi
0  Sacit Bulut    78  172   34    Erkek      Kırmızı
1      Ayşe Er    67  168   45    Kadın        Yeşil
2    Ahmet San    85  182   32    Erkek      Kırmızı
3    Macit Şen    98  192   65    Erkek         Mavi
4  Talat Demir    85  181   49    Erkek        Yeşil
5   Sibel Ünlü    72  172   34    Kadın         Mavi
6    Ali Serçe    75  165   21    Erkek        Yeşil

In [10]:
def label_encode(df, colnames):
    for colname in colnames:
        labels = df[colname].unique()  
        for index, label in enumerate(labels):
            df.loc[df[colname] == label, colname] = index

print(df, end='\n\n')
label_encode(df, ['Renk Tercihi', 'Cinsiyet'])
print(df, end='\n\n')

    Adı Soyadı  Kilo  Boy  Yaş Cinsiyet Renk Tercihi
0  Sacit Bulut    78  172   34    Erkek      Kırmızı
1      Ayşe Er    67  168   45    Kadın        Yeşil
2    Ahmet San    85  182   32    Erkek      Kırmızı
3    Macit Şen    98  192   65    Erkek         Mavi
4  Talat Demir    85  181   49    Erkek        Yeşil
5   Sibel Ünlü    72  172   34    Kadın         Mavi
6    Ali Serçe    75  165   21    Erkek        Yeşil

    Adı Soyadı  Kilo  Boy  Yaş Cinsiyet Renk Tercihi
0  Sacit Bulut    78  172   34        0            0
1      Ayşe Er    67  168   45        1            1
2    Ahmet San    85  182   32        0            0
3    Macit Şen    98  192   65        0            2
4  Talat Demir    85  181   49        0            1
5   Sibel Ünlü    72  172   34        1            2
6    Ali Serçe    75  165   21        0            1

In [11]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [13]:
df = pd.read_csv('datasets/test.csv')

In [14]:
le = LabelEncoder()
df['Cinsiyet'] = le.fit_transform(df['Cinsiyet'])
df['Renk Tercihi'] = le.fit_transform(df['Renk Tercihi'])

df

    Adı Soyadı  Kilo  Boy  Yaş  Cinsiyet  Renk Tercihi
0  Sacit Bulut    78  172   34         0             0
1      Ayşe Er    67  168   45         1             2
2    Ahmet San    85  182   32         0             0
3    Macit Şen    98  192   65         0             1
4  Talat Demir    85  181   49         0             2
5   Sibel Ünlü    72  172   34         1             1
6    Ali Serçe    75  165   21         0             2

In [ ]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import numpy as np

df = pd.read_csv('test.csv')
print(df, end='\n\n')

le = LabelEncoder()
df['Renk Tercihi'] = le.fit_transform(df['Renk Tercihi'])
df['Cinsiyet'] = le.fit_transform(df['Cinsiyet'])

print(df)

le = LabelEncoder()
le.fit(df['Renk Tercihi'])
result = le.inverse_transform(np.array([2, 1, 1, 1, 2, 2, 1, 0]))
print(result)