Kategori sayısı aşırı fazla ise kullanılabilecek yöntemlerden biri "binary encoding" yöntemidir. Bu yöntemde kategorilerin sayısı n tane olmak üzere ceil(log2 n) sütun oluşturulmaktadır. Sonra her kategoriye 0'dan itibaren bir sayı karşılık düşünülür. Sonra da bu sayı için ikilik sistemde kodlama yapılır.

In [26]:
import pandas as pd

In [27]:
df = pd.read_csv('datasets/test_14.csv')

In [28]:
from category_encoders.binary import BinaryEncoder

In [29]:
be = BinaryEncoder()

In [30]:
transformed_data = be.fit_transform(df['Meslek'])
dropped_df = df.drop('Meslek', axis=1, inplace=True)
dropped_df

In [32]:
transformed_df = pd.concat([df, transformed_data], axis=1)
transformed_df

,Adı Soyadı,Kilo,Boy,Yaş,Cinsiyet,Renk Tercihi,Eğitim Durumu,Meslek_0,Meslek_1
0,Sacit Bulut,78,172,34,Erkek,Kırmızı,Lisans,0,1
1,Ayşe Er,67,168,45,Kadın,Yeşil,Lisans,1,0
2,Ahmet San,85,182,32,Erkek,Kırmızı,İlkokul,1,1
3,Macit Şen,98,192,65,Erkek,Mavi,Ortaokul,0,1
4,Talat Demir,85,181,49,Erkek,Yeşil,Lisans,1,1
5,Sibel Ünlü,72,172,34,Kadın,Mavi,Yüksek Lisans,0,1
6,Ali Serçe,75,165,21,Erkek,Yeşil,İlkokul,1,0

In [33]:
df

    Adı Soyadı  Kilo  Boy  Yaş Cinsiyet Renk Tercihi  Eğitim Durumu
0  Sacit Bulut    78  172   34    Erkek      Kırmızı         Lisans
1      Ayşe Er    67  168   45    Kadın        Yeşil         Lisans
2    Ahmet San    85  182   32    Erkek      Kırmızı        İlkokul
3    Macit Şen    98  192   65    Erkek         Mavi       Ortaokul
4  Talat Demir    85  181   49    Erkek        Yeşil         Lisans
5   Sibel Ünlü    72  172   34    Kadın         Mavi  Yüksek Lisans
6    Ali Serçe    75  165   21    Erkek        Yeşil        İlkokul

In [36]:
from sklearn.preprocessing import OneHotEncoder

In [37]:
ohe = OneHotEncoder(sparse_output= False)

In [38]:
ohe_df = pd.get_dummies(df, columns=['Renk Tercihi'], drop_first=True)
ohe_df

,Adı Soyadı,Kilo,Boy,Yaş,Cinsiyet,Eğitim Durumu,Renk Tercihi_Mavi,Renk Tercihi_Yeşil
0,Sacit Bulut,78,172,34,Erkek,Lisans,False,False
1,Ayşe Er,67,168,45,Kadın,Lisans,False,True
2,Ahmet San,85,182,32,Erkek,İlkokul,False,False
3,Macit Şen,98,192,65,Erkek,Ortaokul,True,False
4,Talat Demir,85,181,49,Erkek,Lisans,False,True
5,Sibel Ünlü,72,172,34,Kadın,Yüksek Lisans,True,False
6,Ali Serçe,75,165,21,Erkek,İlkokul,False,True

Benzer biçimde scikit-learn kütüphanesindeki OneHotEncoder sınıfının drop parametresi first olarak geçilirse "dummy variable encoding" işlemi gerçekleştirilir.

In [40]:
print(df, end='\n\n')

from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(sparse_output=False, drop='first')

transformed_data = ohe.fit_transform(df[['Renk Tercihi']])

print(transformed_data)

    Adı Soyadı  Kilo  Boy  Yaş Cinsiyet Renk Tercihi  Eğitim Durumu
0  Sacit Bulut    78  172   34    Erkek      Kırmızı         Lisans
1      Ayşe Er    67  168   45    Kadın        Yeşil         Lisans
2    Ahmet San    85  182   32    Erkek      Kırmızı        İlkokul
3    Macit Şen    98  192   65    Erkek         Mavi       Ortaokul
4  Talat Demir    85  181   49    Erkek        Yeşil         Lisans
5   Sibel Ünlü    72  172   34    Kadın         Mavi  Yüksek Lisans
6    Ali Serçe    75  165   21    Erkek        Yeşil        İlkokul

[[0. 0.]
 [0. 1.]
 [0. 0.]
 [1. 0.]
 [0. 1.]
 [1. 0.]
 [0. 1.]]

### Denetimli Sinir Ağlarında Veri Kümeleri

Yapay sinir ağlarında çalışma için alçak seviyeli ve yüksek seviyeli kütüphaneler ve framework'ler bulunmaktadır. Aşağı seviyeli üç önemli kütüphane şunlardır: TensorFlow, PyTotch ve Theno. Yüksek seviyeli kütüphane olarak en fazla Keras tercih edilmektedir. Keras eskiden bağımsız bir kütüphaneydi ve kendi içinde TensorFlow, Theno gibi kütüphaneleri "backend" olarak kullanabiliyordu.

Artık Keras TensorFlow ile birlikte çalışıyor.

In [43]:
import pandas as pd
import numpy as np

In [42]:
df = pd.read_csv('datasets/diabetes.csv')

In [45]:
dataset = df.to_numpy()
np.random.shuffle(dataset)

In [46]:
TRAINING_RATIO = 0.8
training_zone = int(np.round(len(dataset)) * TRAINING_RATIO)

In [48]:
training_dataset = dataset[:training_zone, : ]
test_dataset = dataset[training_zone:, : ]
print(len(training_dataset), len(test_dataset))

614 154

In [52]:
training_dataset_x = training_dataset[:, : -1]
training_dataset_y = training_dataset[:, -1]

In [59]:
test_dataset_x = test_dataset[:, : -1]
test_dataset_y = test_dataset[:, -1]

### Genel Kullanılan Split Yöntemi

In [55]:
dataset_x = dataset[:, : -1]
dataset_y = dataset[:, -1]

In [54]:
from sklearn.model_selection import train_test_split

In [58]:
training_dataset_x, test_dataset_x, training_dataset_y, test_dataset_y = train_test_split(dataset_x, dataset_y, test_size=0.2)